/*start global rules */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
}
/* end global rules */

/* card */
.card {
  position: relative;
  width: 1110px;
  height: 446px;
  margin: auto 165px;
  background: hsl(244, 38%, 16%);
  border-radius: 0 8px 8px 0;
}

.card .card-info {
  padding: 82px;
  text-align: start;
  width: 50%;
}
.card .card-info h2 {
  font-size: 36px;
  line-height: 44px;
}

.card .card-info .special-word {
  color: #ab5cdb;
}

.card .card-info p {
  color: rgba(255, 255, 255, 0.75);
  line-height: 25px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-top: 28px;
}

.card .card-info ul {
  margin-top: 90px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
/* end card */
.images .image-desktop {
  position: absolute;
  right: 0;
  width: 540px;
  height: 446px;
}

.images .image-desktop img {
  width: 100%;
  height: 100%;
}

/* status */
.status {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.status .state-block {
  width: 83px;
  height: 56px;
}

.status .state-block .state-num {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  color: #ffffff;
}

.status .state-block .state-title {
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
}

/* end status */

@media (max-width: 768px) {
  .container {
    width: 375px;
  }
  .visible-mob {
    display: block !important;
  }
  .card {
    height: 780px;
    width: 327px;
    margin: auto;
  }

  .card .div-info {
    width: 327px;
    padding: 0 31.5px;
    text-align: center;
  }

  .card .card-info {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .card .card-info h2 {
    font-size: 28px;
    line-height: 32px;
    padding-top: 40px;
  }

  .card .card-info p {
    font-size: 15px;
    line-height: 25px;
    padding-top: 16px;
  }

  .visible-dec {
    display: none !important;
  }

  .images .image-mobile {
    width: 100%;
    height: 100%;
  }
  .status {
    flex-direction: column;
    margin: 0 0 32px;
  }

  .status .state-block {
    margin: auto;
    padding: 40px 0;
  }
}

/* start my framework */
.container {
  max-width: 1440px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.images .img-mask {
  background-color: #ab5cdb;
}

.images img {
  mix-blend-mode: multiply;
  opacity: 75.11%;
}

.visible-mob {
  display: none;
}

.visible-dec {
  display: block;
}
.fon-h2 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
/* end my framework */
